[package]
name = "gobbler"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4.19"
clap = { version = "3.0.0", features = ["cargo"] }
rayon = "1.5.1"
termcolor = "1.1.2"
thiserror = "1.0.30"
winreg = { version = "0.10.1", features = ["chrono"] }

[dependencies.windows]
version = "0.29.0"
features = [
    "std",
    "Data_Xml_Dom",
    "Foundation",
    "Foundation_Collections",
    "Web_Syndication",
]
